.bg-green{ background: rgb(188, 255, 87) };
.bg-red{ background: red };
.bg-red-soft { background: rgb(248, 137, 137) };
.bg-orange-soft { background: rgb(255, 236, 150) };
.bg-silver{ background:silver };
.bg-silver-soft{ background:rgb(224, 224, 224) };
.bg-yellow{ background:rgb(255, 246, 121) };
.color-yellow{ color:rgb(206, 194, 28) };
.bg-blue { background: rgb(101, 204, 230); }
.bg-blue-ligth{  background: rgb(223,245,255); }
.bg-blue-item {  background: rgb(195,208,216); }
 
.bg-celeste{  background:rgb(108, 240, 222); }

.color-red { color: red; }
.color-blue-soft { color:rgb(101, 204, 230); }
.color-blue { color:rgb(27, 89, 184); }

.color-siver { color: white;}
.color-black { color: rgb(0, 0, 0); }
.color-green{ color: rgb(138, 194, 55) };

.bg-gradient-1{ 
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
} 

.bg-gradient-2{ 
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
} 

.hover-bg-white { &:hover {  background:rgb(255, 255, 255)  } }

